.call-info {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  padding: 8px 0px;
}

.direction {
  grid-column: 1 / 3;
  display: flex;
  align-items: center;
}

.detail {
  grid-column: 3 / 11;
}

.archive {
  grid-column: 11;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: gray;
}

.archive:hover {
  color: black;
  border-bottom: solid 2px tomato;
}

.caller {
  font-weight: bold;
  font-size: 13.5px;
}

.date-and-type {
  display: flex;
  padding-top: 4px;
  gap: 30px;
}