.tab-options {
  display: flex;
  gap: 25px;
  padding: 10px 20px;
  font-weight: bold;
}

.tabs {
  padding: 10px;
  cursor: pointer;
  color: rgb(43, 43, 43);
}

.active-tab {
  font-size: 15px;
  border-bottom: solid 2px tomato;
  color: black;
}

.tab-content {
  padding: 0px 30px;
  margin-top: 11px;
  height: 471px;
  overflow: auto;
}